@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-[#f7708ba3]
    /* --foreground: 200 50% 3%; */;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  } */
}
/* #playingField {
  --SATURATED: rgb(51 65 85);
  --UNSATURATED: rgb(34 211 238);
  --CURRENTLY_DRAGGED_OVER: #f3af99;
  --CORRECT: rgb(22 163 74);
  --INCORRECT: rgb(185 28 28);
} */

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body,
html {
  min-width: 100vw;
  min-height: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.wikiTitle.greyed_out {
  opacity: 0.4;
}
.wikiTitle.selected {
  background-color: #5500ff62;
  border: 2px solid #00000058;
}

/* .wikiSnippet {
  background-color: var(--UNSATURATED);
} */

.wikiSnippet.emphasized {
  opacity: 1;
  transform: scale(1.03);
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  /* background-color: var(--CURRENTLY_DRAGGED_OVER); */
}

/* .wikiSnippet.correctGuess {
  background-color: var(--CORRECT);
}

.wikiSnippet.incorrectGuess {
  background-color: var(--INCORRECT);
} */

.wikiSnippet.emphasized:hover {
  cursor: pointer;
}

button {
  border-radius: 8px;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.gamecontrol_button {
  transition: scale 200ms, font-weight 0ms, opacity 200ms;
}

.gamecontrol_button:hover,
.gamecontrol_active {
  scale: 1.1;
  border-color: #646cff;
  transition-timing-function: ease-in-out;
  transition-delay: 50ms;
  font-weight: 700;
  border: 2px solid #00000058;
  opacity: 1;
  color: black;
}

.gamecontrol_button {
  @apply w-[10vw] text-xs md:text-sm bg-opacity-80
        lg:text-lg px-2 py-2;
}

.loading_button {
  @apply cursor-wait opacity-50;
}

.loading_button:focus {
  outline: none;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.shake {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ff0000;
}
